.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  border-right: 1px solid rgb(128 128 128 / 54%);
  position: relative;
  transition: width 0.3s;
  background: var(--bg-color);
  color: var(--inverted-bg-color);

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }

  .switcher {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.switcherCollapsed {
      flex-direction: column;
    }
  }

  .toggleBtn {
    position: absolute;
    right: -34px;
    bottom: 25px;
    border: 1px solid rgb(128 128 128 / 54%);
  }
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}
